<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title></title>
</head>
<body>

    <div class='ContainTabTabelleCL'>

        <div class='dropdown'>
            <button class='dropbtn'>LAVORATORE</button>
            <div id='myDropdownlavoratore' class='dropdown-content dropDtutti'>
                <a href='#'>CREARE</a>
                <a href='#'>LISTA</a>
                <a href='#'>MODIFICARE</a>
                <a href='#'>CANCELLARE</a>
            </div>
        </div>

        <div class='dropdown'>
            <button class='dropbtn'>CLIENTE</button>
            <div id='myDropdowncliente' class='dropdown-content dropDtutti'>
                <a href='#'>CREARE</a>
                <a href='#'>LISTA</a>
                <a href='#'>MODIFICARE</a>
                <a href='#'>CANCELLARE</a>
            </div>
        </div>

        <div class='dropdown'>
            <button class='dropbtn'>PRODOTTO</button>
            <div id='myDropdownprodotto' class='dropdown-content dropDtutti'>
                <a href='#'>CREARE</a>
                <a href='#'>LISTA</a>
                <a href='#'>MODIFICARE</a>
                <a href='#'>CANCELLARE</a>
            </div>
        </div>

        <div class='dropdown'>
            <button class='dropbtn'>LAVORAZIONE</button>
            <div id='myDropdownlavorazione' class='dropdown-content dropDtutti'>
                <a href='#'>CREARE</a>
                <a href='#'>LISTA</a>
                <a href='#'>MODIFICARE</a>
                <a href='#'>CANCELLARE</a>
            </div>
        </div>
    </div>

</body>
</html>