<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!--<link href="../../JS_CSS/css/ui.jqgrid-bootstrap.css" rel="stylesheet" />
    <link href="../../JS_CSS/css/ui.jqgrid-bootstrap-ui.css" rel="stylesheet" />-->

    <link href="../../JS_CSS/css/jquery_ui.css" rel="stylesheet" />
    <link href="../../JS_CSS/css/ui.jqgrid.css" rel="stylesheet" />
    <link href="../../JS_CSS/css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../../JS_CSS/css/CSS1.css" rel="stylesheet" />


    <script src="../../JS_CSS/js/jquery.js"></script>
    <script src="../../JS_CSS/js/jquery-ui.min.js"></script>
    <script src="../../JS_CSS/js/jquery.jqGrid.min.js"></script>
    <script src="../JS/Home.js"></script>
    <title></title>
</head>
<body>
    <header></header>

   

    <div id="nav_id1">
        <ul>
            
            <li id='li_id1' class="li_cl1"><a href='#AddItem'>Add Item</a></li>
            <li id='li_id2' class="li_cl2"><a href='#Lavoro'>LAVORO</a></li>
            <li id='li_id3' class="li_cl3"><a href='#Ordine'>ORDINE</a></li>
            <li id='li_id4' class="li_cl4"><a href='#Logout'>LOG OUT</a></li>
        </ul>
        

        <div id='AddItem' class='article_cl articleadditem_Cl'>
        </div>
        <div id='Lavoro' class='article_cl'>
            <p>la via balle Lavoro </p>
        </div>
        <div id='Ordine' class='article_cl articleOrdine_Cl'>
            <p>la via balle Ordine </p>
            <section id='contenutoOrdi_id' class='contenutoOrdi_Cl'>
            <p>la via balle </p>
            <table id='tb_ordineId' class='tb_ordineCl'>
            </table>
        </section>
            </div>
                <div id='Logout' class='article_cl'>
                    <p>la via balle LogOut </p>
                </div>

            </div>

            <footer></footer>
        </body>
        </html>
