<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="../../JS_CSS/css/jquery_ui.css" rel="stylesheet" />
    <link href="../../JS_CSS/plugins/ui.multiselect.css" rel="stylesheet" />
    <link href="../../JS_CSS/css/ui.jqgrid.css" rel="stylesheet" />
    <link href="../../JS_CSS/css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../../JS_CSS/css/HomePage.css" rel="stylesheet" />
    <link href="../../JS_CSS/css/CSS1.css" rel="stylesheet" />



    <script src="../../JS_CSS/js/jquery.js"></script>
    <script src="../../JS_CSS/js/jquery-ui.min.js"></script>
    <!--<script src="../../JS_CSS/plugins/ui.multiselect.js"></script>-->
    <script src="../../JS_CSS/js/jquery.jqGrid.min.js"></script>
    <script src="../../JS_CSS/js/i18n/grid.locale-it.js"></script>
    <script src="../../JS_CSS/js/notify.min.js"></script>
    <script src="../../JS_CSS/js/LoadingOverlay.js"></script>
    <script src="../../HomePage/JS/HomePage.js"></script>
    <script src="../JS/OrdiniLavorazione.js"></script>
    <title></title>
</head>
<body>
    <header>
        <nav>
            <div class='barCl'>
                <ul class='barClSite'>
                    <li class='TabTabelleCL'><a href="#TABELLE">TABELLE</a></li>
                    <li class='OrdiniLavorazioneCl'><a href="#ORDINI DI LAVORAZIONE">ORDINI DI LAVORAZIONE</a></li>
                    <li class=''><a href="#LAVORAZIONI">LAVORAZIONI</a></li>
                    <li class=''><a href="#ANALI CONSUNTIVI">ANALISI CONSUNTIVI</a></li>
                    <li class='LiLogOutCl'><a href="#LOGOUT">LOGOUT</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <!--gestion tabelle-->
    <section class='HomeTabTabelleCl'></section>
    <!--gestion fine tabelle-->
    <div class='dialogConfermaCl'></div>
    <!--gestion dei ordini-->
    <section class='HomeOrdiniLavorazioneCl'></section>
    <!--fine gestion ordini-->
    <footer></footer>
</body>
</html>