<?xml version="1.0" encoding="utf-8"?>

<!--
  Per altre informazioni su come configurare l'applicazione ASP.NET, vedere
 https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
	<connectionStrings>
		<add name="DAL_ConnectionString" providerName="System.Data.SqlClient" connectionString="User ID=***; Pwd=***; Timeout=120; Initial Catalog=***; Data Source=***; Application Name=RisoNew;" />
		
	</connectionStrings>
	<appSettings>


		<add key="FileJsonSl" value="select * from RisoNew..{0} where {1} like '{2}%'" />
		<add key="FileJsonSl1" value="select * from RisoNew..{0} where {1} like '{2}%'" />
		<add key="FileJson" value="select * from RisoNew..{0}" />
		<add key="FileJsonRic" value="select * from RisoNew..{0} where {0}.Destinatario={1}" />
		<add key="FileJsonRicTab" value="select * from RisoNew..{0} where {0}.Destinatario={1} or {0}.Mitente={1}" />
		<add key="Accesso" value="select Nome,Cognome,Ruolo,Utente,Idimpiegati from RisoNew..LAVORATORE where LAVORATORE.Utente='{0}' AND LAVORATORE.Password='{1}'" />
		<add key="NuovoLavorator" value="insert into RisoNew..LAVORATORE(Nome,Cognome,Ruolo,Utente,Password) values('{0}','{1}',{2},'{3}','{4}')" />
		<add key="UtenteExistente" value="select * from RisoNew..LAVORATORE where LAVORATORE.Nome='{0}' AND LAVORATORE.Cognome='{1}'" />
		<add key="DeleteLavoratore" value="update RisoNew..LAVORATORE set LAVORATORE.stato=2 where LAVORATORE.Idimpiegati='{0}' " />
		<add key="ClienteExistente" value="select * from RisoNew..CLIENTE where CLIENTE.CodiceFiscale='{0}' AND CLIENTE.Sede='{1}'" />
		<add key="NuovoCliente" value="insert into RisoNew..CLIENTE([CodiceFiscale /p.iva],[Sede in],[Via/Corso],[Ragione Sociale Azienda]) values('{0}','{1}','{2}','{3}')" />
		<add key="ProdottoExistente" value="select * from RisoNew..PRODOTTO where PRODOTTO.Nome='{0}' AND PRODOTTO.Description='{1}'" />
		<add key="NuovoProdotto" value="insert into RisoNew..PRODOTTO(Description,Nome) values('{0}','{1}')" />		
		<add key="NuovoMerce" value="exec CreationProdottoMerce2 @Description='{0}',@nome='{1}',@QuantitaInitial={2}" />
		<add key="NuovoTipoLavorazione" value="insert into RisoNew..TIPOLAVORAZIONE(TipoLavorazione,DescriptionLavorazione) values('{0}','{1}')" />
		<add key="ClienteTipoLavorazione" value="select * from RisoNew..TIPOLAVORAZIONE where TIPOLAVORAZIONE.TipoLavorazione='{0}' AND TIPOLAVORAZIONE.DescriptionLavorazione='{1}'" />
		<add key="NuovoOrdine" value="exec PRocedureOrdine @MercProdotto={0},@QuantitaR={1},@CLiente={2},@Description='{3}',@DataConsegna='{4}',@TipoLavorazione={5},@TipoLavorazione1={6},@TipoLavorazione2={7},@TipoLavorazione3={8} " />
		<add key="OrdineExistente" value="select * from RisoNew..ORDINE where ORDINE.IdMerce={0} AND ORDINE.DataConsegna='{1}' AND ORDINE.IdCliente={2}" />
		<add key="NuovoLavoro" value="exec CreationLavoro @lavoratore={0},@DtconsegnaL='{1}',@gestionnaire={2},@idOrdine={3}" />
		<add key="LavoroExistente" value="SELECT *FROM [dbo].[LAVORO] where [LAVORO].[DataChiusura]='{0}' and[LAVORO].[IdUtenteAssegnazione]={1} and [LAVORO].[IdUtenteLavorazione]={2}" />
		<add key="AddCommentoLavoro" value="update RisoNew..LAVORO set DescriptionLavoro='{0}' where LAVORO.IdLavoro={1}" />
		<add key="chiudereLavoro" value="update ORDINE set ORDINE.Stato=3 where ORDINE.IdOrdine={0}" />
		<add key="ModificaOrdine" value="exec INSERIMENTO_ORDINEASSEGNATO_VIEW @valeu1 ='{0}',@id = {1},@NomColumn ='{2}'" />
		<add key="NV_percentaleLavoro" value="exec percentualLavoro @Nvpercentual={0},@IdLav={1}" />
		<add key="NuovoMessaggio" value="exec InserimentoMessaggio @titolo ='{0}',@contenuto='{1}',@mittente ={2},@destinatario ={3},@OrdineId={4}" />
		<add key="MessagioUtente" value="select NOTIFICA.idnotifica,NOTIFICA.Tempo,NOTIFICA.Titolo,NOTIFICA.Contenuto,NOTIFICA.Mitente,NOTIFICA.Destinatario,NOTIFICA.Stato,NOTIFICA.OrdineId from RisoNew..NOTIFICA where NOTOFICA.Destinatario={0}" />
		<add key="ModificastatoMessagio" value="exec ModificaNotifica @idnotif ={0},@idOrdine ={1},@idstato ={2}" />
		<add key="letturaMessagio" value="exec letturaNotifica @idnotif ={0},@idOrdine ={1},@idstato ={2}" />
		<add key="RifiutoLavorostatoMessagio" value="exec RifiutaLavoroNotifica @idnotif ={0},@idOrdine ={1},@idstato ={2}" />
		
		<add key="CancellaZionCLiente" value="update RisoNew..CLIENTE set CLIENTE.Stato=3 where CLIENTE.IdCliente={0}" />
		<add key="ModificaClienti" value="update RisoNew..CLIENTE set [{0}]='{1}' where CLIENTE.IdCliente={2}" />
		<add key="ModificaProdotto" value="update RisoNew..PRODOTTO set [{0}]='{1}' where PRODOTTO.IdProdotto={2}" />
		<add key="CancellaZionProdotto" value="update RisoNew..PRODOTTO set PRODOTTO.Stato=3 where PRODOTTO.IdProdotto={0}" />
		<add key="ModificaLavoratore" value="update RisoNew..LAVORATORE set [{0}]='{1}' where LAVORATORE.Idimpiegati={2}" />
		<add key="CancellaZionLavoratore" value="update RisoNew..LAVORATORE set LAVORATORE.Stato=3 where LAVORATORE.Idimpiegati={0}" />
		<add key="ModificaTipoLavorazione" value="update RisoNew..TIPOLAVORAZIONE set [{0}]='{1}' where TIPOLAVORAZIONE.IdTipoLavorazione={2}" />
		<add key="CancellaZionTipoLavorazione" value="update RisoNew..TIPOLAVORAZIONE set TIPOLAVORAZIONE.Stato=3 where TIPOLAVORAZIONE.IdTipoLavorazione={0}" />


	</appSettings>

        
    
 
 <system.serviceModel>
 
  <diagnostics>
   <messageLogging logEntireMessage="false" />
  </diagnostics>
  <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
   multipleSiteBindingsEnabled="true" />
  <services>
   <service behaviorConfiguration="RisoNew.SrvClienteServiceBehavior"
    name="RisoNew.SrvCliente">
    <endpoint address="" behaviorConfiguration="RisoNew.SrvClienteAspNetAjaxBehavior"
     binding="webHttpBinding" contract="RisoNew.SrvCliente" />
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
   </service>
   <service behaviorConfiguration="RisoNew.SrvProdottoServiceBehavior"
    name="RisoNew.SrvProdotto">
    <endpoint address="" behaviorConfiguration="RisoNew.SrvProdottoAspNetAjaxBehavior"
     binding="webHttpBinding" contract="RisoNew.SrvProdotto" />
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
   </service>
   <service behaviorConfiguration="RisoNew.SrvLavoratoreServiceBehavior"
    name="RisoNew.SrvLavoratore">
    <endpoint address="" behaviorConfiguration="RisoNew.SrvLavoratoreAspNetAjaxBehavior"
     binding="webHttpBinding" contract="RisoNew.SrvLavoratore" />
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
   </service>
   <service name="RisoNew.SrvTipoLavorazione">
    <endpoint address="" behaviorConfiguration="RisoNew.SrvTipoLavorazioneAspNetAjaxBehavior"
     binding="webHttpBinding" contract="RisoNew.SrvTipoLavorazione" />
   </service>
  </services>
	<behaviors>
  <endpointBehaviors>
	  <behavior name="RisoNew.SrvTipoLavorazioneAspNetAjaxBehavior">
		  <webHttp />
	  </behavior>
   <behavior name="RisoNew.SrvClienteAspNetAjaxBehavior">
    <webHttp />
   </behavior>
   <behavior name="RisoNew.SrvLavoratoreAspNetAjaxBehavior">
    <webHttp />
   </behavior>
   <behavior name="RisoNew.SrvProdottoAspNetAjaxBehavior">
    <webHttp />
   </behavior>
   
  </endpointBehaviors>
  <serviceBehaviors>
   <behavior name="RisoNew.SrvLavoratoreServiceBehavior">
    <serviceMetadata httpGetEnabled="true" />
    <serviceDebug includeExceptionDetailInFaults="true" />
   </behavior>
   <behavior name="RisoNew.SrvClienteServiceBehavior">
    <serviceMetadata httpGetEnabled="true" />
    <serviceDebug includeExceptionDetailInFaults="true" />
   </behavior>
   <behavior name="RisoNew.SrvProdottoServiceBehavior">
    <serviceMetadata httpGetEnabled="true" />
    <serviceDebug includeExceptionDetailInFaults="true" />
   </behavior>
	  <behavior name="RisoNew.SrvTipoLavorazione">
		  <serviceMetadata httpGetEnabled="true" />
		  <serviceDebug includeExceptionDetailInFaults="true" />
	  </behavior>
  </serviceBehaviors>
 </behaviors>
 </system.serviceModel>

	<!-- trace log - INIZIO -->
	<system.diagnostics>
		<sources>

			<source name="System.IdentityModel"
     switchValue="Verbose">
				<listeners>
					<add name="xml" />
				</listeners>
			</source>

			<!-- Log all messages in the 'Messages' tab of SvcTraceViewer. -->
			<source name="System.ServiceModel.MessageLogging">
				<listeners>
					<add name="xml" />
				</listeners>
			</source>

			<!-- ActivityTracing and propogateActivity are used to 
           flesh out the 'Activities' tab in SvcTraceViewer to 
           aid debugging. -->
			<source name="System.ServiceModel"
     switchValue="Error, ActivityTracing"
     propagateActivity="true">
				<listeners>
					<add name="xml" />
				</listeners>
			</source>

			<!-- This records Microsoft.IdentityModel generated traces, 
           including exceptions thrown from the framework. -->
			<source name="Microsoft.IdentityModel" switchValue="Warning">
				<listeners>
					<add name="xml" />
				</listeners>
			</source>
		</sources>

		<sharedListeners>
			<add name="xml"
     type="System.Diagnostics.XmlWriterTraceListener"
     initializeData="C:\Temp\traceRestFul_01.svclog" />
		</sharedListeners>

		<trace autoflush="true" />

	</system.diagnostics>
	<!-- trace log - FINE -->
	
</configuration>
